<!DOCTYPE html>
<html lang="en"></html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user manager</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/admin/admin_user_mng.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/admin/admin_menu">管理者メニュー</a></li>
            <li><a href="/admin/admin_user_manager">ユーザー管理</a></li>
            <li><a href="/admin/admin_workplace_manager">勤務場所管理</a></li>
            <li><a href="/admin/admin_attendance_total_hours">勤務時間集計</a></li>
            <li><a href="/doLogout">ログアウト</a></li>
        </ul>
    </nav>
    <h1>ユーザー管理</h1>
    <table>
        <thead>
        <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>権限</th>
            <th>編集</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.user_id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{/admin/edit/{id}(id=${user.user_id})}" class="edit-btn">編集</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/add}" class="add-btn">新規追加</a>
</body>
</html>