<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>attendance total hours</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/admin/admin_menu">管理者メニュー</a></li>
            <li><a href="/admin/admin_user_manager">ユーザー管理</a></li>
            <li><a href="/admin/admin_workplace_manager">勤務場所管理</a></li>
            <li><a href="/admin/admin_attendance_total_hours">勤務時間集計</a></li>
            <li><a href="/doLogout">ログアウト</a></li>
        </ul>
    </nav>
    <h1>勤務時間集計</h1>

</body>
</html>